<div class="volunteer-banner">

</div>
<div class="enrollment-area">
    <div class="why-enrollment bg-warning p-5">
        <h3 class="fw-bolder">Enroll as a Volunteer Today and Make a Difference!
        </h3>
        <h6 class="mt-5 space">

            Your time, skills, and passion are invaluable assets that will shape a better tomorrow. We invite you to
            join our mission to uplift and empower those in need.


        </h6>
        <h6 class="mt-5 fs-5 fw-bold">Together, let’s create brighter futures!</h6>
    </div>
    <div class="volunteer-enrollment">
        <form [formGroup]="enrollmentForm" (ngSubmit)="onSubmit()">
            <!-- Name Field -->
            <div>
                <div class="d-flex justify-content-around">
                    <div class="form-floating mb-3 me-3">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name"
                            formControlName="name" />
                        <label for="floatingInput">First Name <span class="error">*</span></label>
                        <div *ngIf="
                                  enrollmentForm.get('name')?.invalid &&
                                  enrollmentForm.get('name')?.touched
                                " class="error">
                            Kindly enter you name
                        </div>
                    </div>
                    <div class="form-floating mb-3 ms-3">
                        <input type="text" class="form-control" id="surName" placeholder="Second Name"
                            formControlName="secondName" />
                        <label for="floatingInput">Second Name</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="yourname@google.com"
                        formControlName="email" />
                    <label for="floatingInput">Email address <span class="error">*</span></label>
                    <div *ngIf="
              enrollmentForm.get('email')?.invalid &&
              enrollmentForm.get('email')?.touched
            " class="error">
                        Please enter a valid email.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="phoneNumber" placeholder="Mobile Number"
                        formControlName="phoneNumber" />
                    <label for="floatingPassword">Phone Number <span class="error">*</span></label>
                    <div *ngIf="
              enrollmentForm.get('phoneNumber')?.invalid &&
              enrollmentForm.get('phoneNumber')?.touched
            " class="error">
                        Phone Number is Invalid
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="comment" placeholder="First Name"
                        formControlName="comment" />
                    <label for="comment">Your Thoughts In Few Words
                    </label>

                </div>
                <div class="form-check form-switch mb-3">
                    <label class="form-check-label" for="switchCheckChecked">Subscribe NewsLetter via Email ?
                    </label>
                    <input class="form-check-input bg-success " type="checkbox" role="switch" id="switchCheckChecked"
                        checked formControlName="subscribe" />
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" [disabled]="enrollmentForm.invalid" class="btn btn-warning">
                Enroll Now
            </button>
        </form>
    </div>
</div>