# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
FrontEndBackUp/3rdpartylicenses.txt
FrontEndBackUp/prerendered-routes.json
FrontEndBackUp/browser/chunk-6YKNQJIM.js
FrontEndBackUp/browser/chunk-A7PB2MYF.js
FrontEndBackUp/browser/chunk-AB2QOY2J.js
FrontEndBackUp/browser/chunk-BMNK3SAZ.js
FrontEndBackUp/browser/chunk-FRGG5HZG.js
FrontEndBackUp/browser/chunk-TEKZEPW2.js
FrontEndBackUp/browser/chunk-YUAPSJS6.js
FrontEndBackUp/browser/favicon.ico
FrontEndBackUp/browser/index.csr.html
FrontEndBackUp/browser/index.html
FrontEndBackUp/browser/main-7MN2FMER.js
FrontEndBackUp/browser/polyfills-EQXJKH7W.js
FrontEndBackUp/browser/scripts-EEEIPNC3.js
FrontEndBackUp/browser/styles-B767JI4U.css
FrontEndBackUp/browser/about/index.html
FrontEndBackUp/browser/assets/ilangu_Logo.png
FrontEndBackUp/browser/assets/ilangu.png
FrontEndBackUp/browser/assets/ilanguLogo.png
FrontEndBackUp/browser/assets/ilanguLogo.svg
FrontEndBackUp/browser/assets/about/aboutbanner.jpg
FrontEndBackUp/browser/assets/about/banner1.jpg
FrontEndBackUp/browser/assets/about/founder.jpg
FrontEndBackUp/browser/assets/about/mission.jpg
FrontEndBackUp/browser/assets/about/secretary.jpg
FrontEndBackUp/browser/assets/about/vision.jpg
FrontEndBackUp/browser/assets/contact/contact.jpg
FrontEndBackUp/browser/assets/homepage/supporttwo.jpg
FrontEndBackUp/browser/assets/homepage/volunteer.jpg
FrontEndBackUp/browser/assets/homepage/weneedyou.jpg
FrontEndBackUp/browser/assets/homepage/whoweare.jpg
FrontEndBackUp/browser/assets/images/childhood.jpg
FrontEndBackUp/browser/assets/images/drug-free.jpg
FrontEndBackUp/browser/assets/images/orphanage-smile1.jpg
FrontEndBackUp/browser/assets/images/school-girls.jpg
FrontEndBackUp/browser/assets/impact/ilakku.jpg
FrontEndBackUp/browser/assets/impact/iyangu.jpg
FrontEndBackUp/browser/assets/impact/siragugal.jpg
FrontEndBackUp/browser/assets/impact/smile.jpg
FrontEndBackUp/browser/assets/volunteer/volunteer.jpg
FrontEndBackUp/browser/assets/work/workbanner.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku1.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku2.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku3.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku4.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku5.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku6.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku7.jpg
FrontEndBackUp/browser/assets/work/ilakku/ilakku8.jpeg
FrontEndBackUp/browser/assets/work/iyangu/iyangu1.jpg
FrontEndBackUp/browser/assets/work/iyangu/iyangu2.jpg
FrontEndBackUp/browser/assets/work/iyangu/iyangu3.jpg
FrontEndBackUp/browser/assets/work/iyangu/iyangu4.jpg
FrontEndBackUp/browser/assets/work/smile/smile1.jpg
FrontEndBackUp/browser/assets/work/smile/smile2.jpg
FrontEndBackUp/browser/assets/work/smile/smile3.jpg
FrontEndBackUp/browser/assets/work/smile/smile4.jpg
FrontEndBackUp/browser/blogs/index.html
FrontEndBackUp/browser/contact/index.html
FrontEndBackUp/browser/media/banner1-T572QO33.jpg
FrontEndBackUp/browser/media/contact-ZZT7ZUFX.jpg
FrontEndBackUp/browser/media/fa-brands-400-Q3XCMWHQ.woff2
FrontEndBackUp/browser/media/fa-brands-400-R2XQZCET.ttf
FrontEndBackUp/browser/media/fa-regular-400-QSNYFYRT.woff2
FrontEndBackUp/browser/media/fa-regular-400-XUOPSR7E.ttf
FrontEndBackUp/browser/media/fa-solid-900-5ZUYHGA7.woff2
FrontEndBackUp/browser/media/fa-solid-900-PJNKLK6W.ttf
FrontEndBackUp/browser/media/fa-v4compatibility-LFEHZI6Y.woff2
FrontEndBackUp/browser/media/fa-v4compatibility-YY67RJWG.ttf
FrontEndBackUp/browser/media/volunteer-4PRUFAD2.jpg
FrontEndBackUp/browser/media/workbanner-5LTOROXX.jpg
FrontEndBackUp/browser/ourwork/index.html
FrontEndBackUp/browser/volunteer/index.html
FrontEndBackUp/frontend/3rdpartylicenses.txt
FrontEndBackUp/frontend/prerendered-routes.json
FrontEndBackUp/frontend/browser/chunk-5KUZWW4F.js
FrontEndBackUp/frontend/browser/chunk-6YKNQJIM.js
FrontEndBackUp/frontend/browser/chunk-A7PB2MYF.js
FrontEndBackUp/frontend/browser/chunk-AB2QOY2J.js
FrontEndBackUp/frontend/browser/chunk-BMNK3SAZ.js
FrontEndBackUp/frontend/browser/chunk-FRGG5HZG.js
FrontEndBackUp/frontend/browser/chunk-MHZCGMJV.js
FrontEndBackUp/frontend/browser/chunk-QZRE4RAX.js
FrontEndBackUp/frontend/browser/chunk-TEKZEPW2.js
FrontEndBackUp/frontend/browser/favicon.ico
FrontEndBackUp/frontend/browser/index.csr.html
FrontEndBackUp/frontend/browser/index.html
FrontEndBackUp/frontend/browser/main-HSHZTR5G.js
FrontEndBackUp/frontend/browser/polyfills-EQXJKH7W.js
FrontEndBackUp/frontend/browser/scripts-EEEIPNC3.js
FrontEndBackUp/frontend/browser/styles-B767JI4U.css
FrontEndBackUp/frontend/browser/about/index.html
FrontEndBackUp/frontend/browser/assets/ilangu_Logo.png
FrontEndBackUp/frontend/browser/assets/ilangu.png
FrontEndBackUp/frontend/browser/assets/ilanguLogo.png
FrontEndBackUp/frontend/browser/assets/ilanguLogo.svg
FrontEndBackUp/frontend/browser/assets/register-banner.jpeg
FrontEndBackUp/frontend/browser/assets/about/aboutbanner.jpg
FrontEndBackUp/frontend/browser/assets/about/banner1.jpg
FrontEndBackUp/frontend/browser/assets/about/founder.jpg
FrontEndBackUp/frontend/browser/assets/about/mission.jpg
FrontEndBackUp/frontend/browser/assets/about/secretary.jpg
FrontEndBackUp/frontend/browser/assets/about/vision.jpg
FrontEndBackUp/frontend/browser/assets/contact/contact.jpg
FrontEndBackUp/frontend/browser/assets/homepage/supporttwo.jpg
FrontEndBackUp/frontend/browser/assets/homepage/volunteer.jpg
FrontEndBackUp/frontend/browser/assets/homepage/weneedyou.jpg
FrontEndBackUp/frontend/browser/assets/homepage/whoweare.jpg
FrontEndBackUp/frontend/browser/assets/images/childhood.jpg
FrontEndBackUp/frontend/browser/assets/images/drug-free.jpg
FrontEndBackUp/frontend/browser/assets/images/orphanage-smile1.jpg
FrontEndBackUp/frontend/browser/assets/images/school-girls.jpg
FrontEndBackUp/frontend/browser/assets/impact/ilakku.jpg
FrontEndBackUp/frontend/browser/assets/impact/iyangu.jpg
FrontEndBackUp/frontend/browser/assets/impact/siragugal.jpg
FrontEndBackUp/frontend/browser/assets/impact/smile.jpg
FrontEndBackUp/frontend/browser/assets/volunteer/volunteer.jpg
FrontEndBackUp/frontend/browser/assets/work/workbanner.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku1.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku2.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku3.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku4.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku5.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku6.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku7.jpg
FrontEndBackUp/frontend/browser/assets/work/ilakku/ilakku8.jpeg
FrontEndBackUp/frontend/browser/assets/work/iyangu/iyangu1.jpg
FrontEndBackUp/frontend/browser/assets/work/iyangu/iyangu2.jpg
FrontEndBackUp/frontend/browser/assets/work/iyangu/iyangu3.jpg
FrontEndBackUp/frontend/browser/assets/work/iyangu/iyangu4.jpg
FrontEndBackUp/frontend/browser/assets/work/smile/smile1.jpg
FrontEndBackUp/frontend/browser/assets/work/smile/smile2.jpg
FrontEndBackUp/frontend/browser/assets/work/smile/smile3.jpg
FrontEndBackUp/frontend/browser/assets/work/smile/smile4.jpg
FrontEndBackUp/frontend/browser/blogs/index.html
FrontEndBackUp/frontend/browser/contact/index.html
FrontEndBackUp/frontend/browser/media/banner1-T572QO33.jpg
FrontEndBackUp/frontend/browser/media/contact-ZZT7ZUFX.jpg
FrontEndBackUp/frontend/browser/media/fa-brands-400-Q3XCMWHQ.woff2
FrontEndBackUp/frontend/browser/media/fa-brands-400-R2XQZCET.ttf
FrontEndBackUp/frontend/browser/media/fa-regular-400-QSNYFYRT.woff2
FrontEndBackUp/frontend/browser/media/fa-regular-400-XUOPSR7E.ttf
FrontEndBackUp/frontend/browser/media/fa-solid-900-5ZUYHGA7.woff2
FrontEndBackUp/frontend/browser/media/fa-solid-900-PJNKLK6W.ttf
FrontEndBackUp/frontend/browser/media/fa-v4compatibility-LFEHZI6Y.woff2
FrontEndBackUp/frontend/browser/media/fa-v4compatibility-YY67RJWG.ttf
FrontEndBackUp/frontend/browser/media/register-banner-TDFUIFNT.jpeg
FrontEndBackUp/frontend/browser/media/volunteer-4PRUFAD2.jpg
FrontEndBackUp/frontend/browser/media/workbanner-5LTOROXX.jpg
FrontEndBackUp/frontend/browser/ourwork/index.html
FrontEndBackUp/frontend/browser/register/index.html
FrontEndBackUp/frontend/browser/volunteer/index.html
FrontEndBackUp/frontend/server/angular-app-engine-manifest.mjs
FrontEndBackUp/frontend/server/angular-app-manifest.mjs
FrontEndBackUp/frontend/server/chunk-2ONHEQQ6.mjs
FrontEndBackUp/frontend/server/chunk-2WWRSAFN.mjs
FrontEndBackUp/frontend/server/chunk-2YZTVQF4.mjs
FrontEndBackUp/frontend/server/chunk-AWJGEZQB.mjs
FrontEndBackUp/frontend/server/chunk-EJSJJTUO.mjs
FrontEndBackUp/frontend/server/chunk-GFUZYSQG.mjs
FrontEndBackUp/frontend/server/chunk-GG523TX7.mjs
FrontEndBackUp/frontend/server/chunk-ODCLP4RL.mjs
FrontEndBackUp/frontend/server/chunk-SUIRWW7C.mjs
FrontEndBackUp/frontend/server/chunk-TMXFAF26.mjs
FrontEndBackUp/frontend/server/chunk-TNO4MGIL.mjs
FrontEndBackUp/frontend/server/chunk-X2SEQXRR.mjs
FrontEndBackUp/frontend/server/chunk-YTKQF7K6.mjs
FrontEndBackUp/frontend/server/index.server.html
FrontEndBackUp/frontend/server/main.server.mjs
FrontEndBackUp/frontend/server/polyfills.server.mjs
FrontEndBackUp/frontend/server/server.mjs
FrontEndBackUp/frontend/server/assets-chunks/about_index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/blogs_index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/contact_index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/index_csr_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/index_server_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/ourwork_index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/register_index_html.mjs
FrontEndBackUp/frontend/server/assets-chunks/styles-B767JI4U_css.mjs
FrontEndBackUp/frontend/server/assets-chunks/volunteer_index_html.mjs
FrontEndBackUp/server/angular-app-engine-manifest.mjs
FrontEndBackUp/server/angular-app-manifest.mjs
FrontEndBackUp/server/chunk-2WWRSAFN.mjs
FrontEndBackUp/server/chunk-AWJGEZQB.mjs
FrontEndBackUp/server/chunk-EJSJJTUO.mjs
FrontEndBackUp/server/chunk-GFUZYSQG.mjs
FrontEndBackUp/server/chunk-GG523TX7.mjs
FrontEndBackUp/server/chunk-ODCLP4RL.mjs
FrontEndBackUp/server/chunk-SUIRWW7C.mjs
FrontEndBackUp/server/chunk-TNO4MGIL.mjs
FrontEndBackUp/server/chunk-X2SEQXRR.mjs
FrontEndBackUp/server/chunk-YTKQF7K6.mjs
FrontEndBackUp/server/chunk-YV5ZRYLY.mjs
FrontEndBackUp/server/index.server.html
FrontEndBackUp/server/main.server.mjs
FrontEndBackUp/server/polyfills.server.mjs
FrontEndBackUp/server/server.mjs
FrontEndBackUp/server/assets-chunks/about_index_html.mjs
FrontEndBackUp/server/assets-chunks/blogs_index_html.mjs
FrontEndBackUp/server/assets-chunks/contact_index_html.mjs
FrontEndBackUp/server/assets-chunks/index_csr_html.mjs
FrontEndBackUp/server/assets-chunks/index_html.mjs
FrontEndBackUp/server/assets-chunks/index_server_html.mjs
FrontEndBackUp/server/assets-chunks/ourwork_index_html.mjs
FrontEndBackUp/server/assets-chunks/styles-B767JI4U_css.mjs
FrontEndBackUp/server/assets-chunks/volunteer_index_html.mjs
BKUP/3rdpartylicenses.txt
BKUP/prerendered-routes.json
BKUP/browser/chunk-6YKNQJIM.js
BKUP/browser/chunk-A7PB2MYF.js
BKUP/browser/chunk-AB2QOY2J.js
BKUP/browser/chunk-BMNK3SAZ.js
BKUP/browser/chunk-FRGG5HZG.js
BKUP/browser/chunk-MHZCGMJV.js
BKUP/browser/chunk-QYPJO2PL.js
BKUP/browser/chunk-QZRE4RAX.js
BKUP/browser/chunk-TEKZEPW2.js
BKUP/browser/favicon.ico
BKUP/browser/index.csr.html
BKUP/browser/index.html
BKUP/browser/main-4ROMN3C4.js
BKUP/browser/polyfills-EQXJKH7W.js
BKUP/browser/scripts-EEEIPNC3.js
BKUP/browser/styles-B767JI4U.css
BKUP/browser/about/index.html
BKUP/browser/assets/ilangu_Logo.png
BKUP/browser/assets/ilangu.png
BKUP/browser/assets/ilanguLogo.png
BKUP/browser/assets/ilanguLogo.svg
BKUP/browser/assets/register-banner.jpeg
BKUP/browser/assets/about/aboutbanner.jpg
BKUP/browser/assets/about/banner1.jpg
BKUP/browser/assets/about/founder.jpg
BKUP/browser/assets/about/mission.jpg
BKUP/browser/assets/about/secretary.jpg
BKUP/browser/assets/about/vision.jpg
BKUP/browser/assets/contact/contact.jpg
BKUP/browser/assets/homepage/event-image.jpeg
BKUP/browser/assets/homepage/supporttwo.jpg
BKUP/browser/assets/homepage/volunteer.jpg
BKUP/browser/assets/homepage/weneedyou.jpg
BKUP/browser/assets/homepage/whoweare.jpg
BKUP/browser/assets/images/childhood.jpg
BKUP/browser/assets/images/drug-free.jpg
BKUP/browser/assets/images/orphanage-smile1.jpg
BKUP/browser/assets/images/school-girls.jpg
BKUP/browser/assets/impact/ilakku.jpg
BKUP/browser/assets/impact/iyangu.jpg
BKUP/browser/assets/impact/siragugal.jpg
BKUP/browser/assets/impact/smile.jpg
BKUP/browser/assets/volunteer/volunteer.jpg
BKUP/browser/assets/work/workbanner.jpg
BKUP/browser/assets/work/ilakku/ilakku1.jpg
BKUP/browser/assets/work/ilakku/ilakku2.jpg
BKUP/browser/assets/work/ilakku/ilakku3.jpg
BKUP/browser/assets/work/ilakku/ilakku4.jpg
BKUP/browser/assets/work/ilakku/ilakku5.jpg
BKUP/browser/assets/work/ilakku/ilakku6.jpg
BKUP/browser/assets/work/ilakku/ilakku7.jpg
BKUP/browser/assets/work/ilakku/ilakku8.jpeg
BKUP/browser/assets/work/iyangu/iyangu1.jpg
BKUP/browser/assets/work/iyangu/iyangu2.jpg
BKUP/browser/assets/work/iyangu/iyangu3.jpg
BKUP/browser/assets/work/iyangu/iyangu4.jpg
BKUP/browser/assets/work/smile/smile1.jpg
BKUP/browser/assets/work/smile/smile2.jpg
BKUP/browser/assets/work/smile/smile3.jpg
BKUP/browser/assets/work/smile/smile4.jpg
BKUP/browser/blogs/index.html
BKUP/browser/contact/index.html
BKUP/browser/media/banner1-T572QO33.jpg
BKUP/browser/media/contact-ZZT7ZUFX.jpg
BKUP/browser/media/fa-brands-400-Q3XCMWHQ.woff2
BKUP/browser/media/fa-brands-400-R2XQZCET.ttf
BKUP/browser/media/fa-regular-400-QSNYFYRT.woff2
BKUP/browser/media/fa-regular-400-XUOPSR7E.ttf
BKUP/browser/media/fa-solid-900-5ZUYHGA7.woff2
BKUP/browser/media/fa-solid-900-PJNKLK6W.ttf
BKUP/browser/media/fa-v4compatibility-LFEHZI6Y.woff2
BKUP/browser/media/fa-v4compatibility-YY67RJWG.ttf
BKUP/browser/media/register-banner-TDFUIFNT.jpeg
BKUP/browser/media/volunteer-4PRUFAD2.jpg
BKUP/browser/media/workbanner-5LTOROXX.jpg
BKUP/browser/ourwork/index.html
BKUP/browser/register/index.html
BKUP/browser/volunteer/index.html
BKUP/server/angular-app-engine-manifest.mjs
BKUP/server/angular-app-manifest.mjs
BKUP/server/chunk-2ONHEQQ6.mjs
BKUP/server/chunk-2WWRSAFN.mjs
BKUP/server/chunk-2YZTVQF4.mjs
BKUP/server/chunk-34L7RXY2.mjs
BKUP/server/chunk-AWJGEZQB.mjs
BKUP/server/chunk-EJSJJTUO.mjs
BKUP/server/chunk-GFUZYSQG.mjs
BKUP/server/chunk-GG523TX7.mjs
BKUP/server/chunk-ODCLP4RL.mjs
BKUP/server/chunk-SUIRWW7C.mjs
BKUP/server/chunk-TNO4MGIL.mjs
BKUP/server/chunk-X2SEQXRR.mjs
BKUP/server/chunk-YTKQF7K6.mjs
BKUP/server/index.server.html
BKUP/server/main.server.mjs
BKUP/server/polyfills.server.mjs
BKUP/server/server.mjs
BKUP/server/assets-chunks/about_index_html.mjs
BKUP/server/assets-chunks/blogs_index_html.mjs
BKUP/server/assets-chunks/contact_index_html.mjs
BKUP/server/assets-chunks/index_csr_html.mjs
BKUP/server/assets-chunks/index_html.mjs
BKUP/server/assets-chunks/index_server_html.mjs
BKUP/server/assets-chunks/ourwork_index_html.mjs
BKUP/server/assets-chunks/register_index_html.mjs
BKUP/server/assets-chunks/styles-B767JI4U_css.mjs
BKUP/server/assets-chunks/volunteer_index_html.mjs
FrontEndBackUp/frontend/browser/main-BOYRYQAW.js
nginx_backup.txt
