<!-- Banner -->
<div class="about-page d-flex flex-column justify-content-between">
  <h1 class=" about-title badge bg-dark ">Igniting Dreams, Shaping Tomorrow..</h1>




  <!-- <h6 class=" bg-white text-black ">"Igniting Dreams and Shaping Tomorrow" reflects our mission to inspire
    hope, nurture potential, and
    build a better
    future. By empowering individuals with knowledge, skills, and opportunities, we turn dreams into action and create
    lasting change. Together, we are lighting the way for a brighter, more inclusive tomorrow..</h6> -->
</div>

<!-- Layout -> Our Vision -->
<div class="d-flex flex-wrap justify-content-around vision">
  <div class="vision-para">
    <h4 class="text-uppercase">Our<span class="fw-bold text-warning"> Mission</span></h4>
    <dl>

      <dt>
        Support for Orphaned Children: </dt>
      <dd>Ilangu Trust is committed to bringing joy, hope, and opportunities to orphaned children by providing them with
        care, education, and support to help them thrive.</dd>

      <dt>Awareness Among B.Ed. Students:</dt>
      <dd>We focus on educating B.Ed. college students, equipping them to recognize and address drug addiction
        challenges among their future students.</dd>

      <dt>Interactive School Programs:</dt>
      <dd>Through interactive classes in schools, we educate young minds about the dangers of substance abuse, promoting
        a drug-free future for our communities.</dd>


      <dd></dd>
    </dl>
  </div>
  <div class="vision-image">
    <img src="assets/about/mission.webp" alt="" />
  </div>
</div>

<!-- Layout Our Mission  -->

<div class="d-flex flex-wrap justify-content-around vision">
  <div class="vision-image">
    <img src="assets/about/vision.webp" alt="" />
  </div>
  <div class="vision-para">
    <h4>OUR<span class="fw-bold text-success"> VISION</span></h4>
    <dl>
      <dt>Empowered Orphaned Children:</dt>
      <dd>Our vision is to create a world where every orphaned child can smile with confidence, live with dignity, and
        achieve their dreams.</dd>

      <dt>Informed Educators and Students:</dt>
      <dd>We envision an empowered society where educators and students are well-informed about the risks of drug
        addiction.</dd>

      <dt>Building Stronger Communities:</dt>
      <dd>Together, we aim to work towards building healthier, safer, and more compassionate communities for generations
        to come.</dd>

    </dl>
  </div>
</div>

<!-- Who we are ....... -->

<div class="who-we-are  mx-auto ">
  <h2 class="text-center">Who are <span class="fw-bold text-warning">We .....</span> <i
      class="fa-solid fa-question"></i></h2>


  <ul class="bg-success text-white">
    <li><b class="fs-5">Mission: </b>Ilangu Trust aims to shape a better future by inspiring individuals to become the
      change they
      wish to
      see in the world.</li>
    <li><b class="fs-5">Symbol of "I":</b> The "I" in ILANGU represents personal responsibility and action, emphasizing
      that change
      starts
      with each individual.</li>
    <li>
      <b class="fs-5">Commitment:</b> The organization is dedicated to creating an environment where children can learn
      about the
      dangers
      of drug abuse and the importance of value-based education.
    </li>
    <li>
      <b class="fs-5">Goal:</b> The ultimate objective is to guide youth toward holistic development by engaging them in
      meaningful
      activities and promoting positive thinking, leading to prosperity.
    </li>
    <li>
      <b class="fs-5">Empowerment of Future Leaders: </b>Ilangu Trust works to empower future leaders and responsible
      citizens who
      can
      contribute positively to society.
    </li>
    <li><b class="fs-5">Impact:</b> Through various efforts, we bring joy to orphaned children, raise awareness among
      educators, and
      educate young minds about the dangers of substance abuse.
    </li>
    <li>
      <b class="fs-5">Vision:</b> We strive to empower individuals to take the lead in creating a brighter, healthier,
      and more
      compassionate future.
    </li>
    <li>
      <b class="fs-5">Core Belief: </b>At ILANGU, we believe in the principle that "I must be the change to change the
      future."
    </li>
  </ul>

</div>

<!-- Notes From the Members -->
<div class="team">
  <div>
    <h2>From Our <span class="fw-bold text-success">Team</span></h2>
  </div>
  <div class="trustee-notes">
    <img src="/assets/about/founder.webp" alt="" />
    <div class="message">
      <h6>
        “As the founder of Ilangu NGO, I invite passionate individuals to join us in our crucial mission against drug
        abuse in schools and communities. Together, we can combat this pervasive issue that undermines the future of our
        youth and communities. Your commitment as a volunteer can help us reach more individuals, spread awareness, and
        provide support to those affected. Additionally, I urge donors to contribute to our cause. Your generosity
        enables us to implement effective prevention programs, support rehabilitation efforts, and create a safer,
        healthier environment for generations to come. Let us stand together in solidarity, determined to build a
        brighter, drug-free future for our children and communities.”
      </h6>
      <blockquote>- Praveens Vigins, Founder, <span class="fw-bold text-warning"> ILANGU</span> <span
          class="fw-bold text-success"> NGO</span></blockquote>
    </div>
  </div>

  <div class="trustee-notes2">
    <div class="message2">
      <h6>
        “At ILangu NGO, we believe that small efforts, when combined, can lead to monumental change. Every day is an
        opportunity to make a difference in the lives of those who need it most. Together, we stand united in creating
        safer, healthier, and more vibrant communities. Our journey is one of hope, compassion, and dedication to a
        better tomorrow for every child, every youth, and every family we touch.”
      </h6>
      <blockquote>- Jenita, Secretary,<span class="fw-bold text-warning"> ILANGU</span> <span
          class="fw-bold text-success"> NGO</span></blockquote>
    </div>
    <img src="/assets/about/secretary.webp" alt="" />
  </div>
</div>