<div class="contact-banner">

</div>

<div class="d-flex justify-content-around parent flex-wrap">
    <div class=" card">
        <div class="card-header">
            Office Location
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>206B Thiruvalluvar Nagar, Ayanavaram, Chennai, Tamil Nadu, India - 600023</p>

            </blockquote>
        </div>
    </div>

    <div class="card width">
        <div class="card-header">
            For Enquiry
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p> <a href="tel:6380559492" class="text-black text-decoration-none">6380559492</a></p>

            </blockquote>
        </div>
    </div>

    <div class="card width">
        <div class="card-header">
            Write Us
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><a href="mailto:admin@ilangungo.com">admin&#64;ilangungo.com</a></p>

            </blockquote>
        </div>
    </div>
</div>