<div class="volunteer-banner">

</div>
<!-- <div class="enrollment-area">
  <div class="why-enrollment bg-warning p-5">
    <h3 class="fw-bolder">Enroll as a Volunteer Today and Make a Difference!
    </h3>
    <h6 class="mt-5 space">

      Payment is required only for actual participants attending the events, based on confirmed headcounts.
    </h6>

    <p class="fw-bolder text-decoration-underline"> Registration Details </p>
    <ul>
      <li>⁠Registration fee: ₹11 per event</li>
      <li>⁠Students can register for multiple events</li>
      <li>⁠Required submission details:
        <ul>
          <li> Name</li>
          <li>Event(s) registered for</li>
          <li>Relevant files (as specified)</li>
        </ul>
      </li> -->

<!-- </ul> -->


<!-- <p> Google Forms : <a href="">....................</a></p>

    <h6 class="text-decoration-underline"> Payment Bank DETAILS</h6>
    <code class="text-primary">
      <ul>
        <li>Account name : ILANGU TRUST </li>
        <li>Bank name : AXIS BANK</li>
        <li>Account No. : 925020028744438</li>
        <li>IFSC CODE - UTIB0001886</li>
      </ul>
    
    
    
    
</code> -->
<!-- <p class="text-danger"> *please check the name twice before the payment.</p>
    <footer class="fw-bolder">
      Your time, skills, and passion are invaluable assets that will shape a better tomorrow. We invite you to
      join our mission to uplift and empower those in need.
    </footer> -->


<!-- <h6 class="mt-5 fs-5 fw-bold">Together, let’s create brighter futures!</h6> -->
<!-- </div> -->
<div class="registration-page">
  <div>
    <div class="image">
      <img class="image" src="assets/event/1.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/event/2.webp" alt="">
    </div>
  </div>


  <div class="volunteer-enrollment ">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
      <!-- Name Field -->
      <div>
        <h3 class="text-primary text-center my-3">Registration Form</h3>
        <!-- <div class="d-flex justify-content-around"> -->
        <div class="form-floating mb-3 ">
          <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="fullName" />
          <label for="floatingInput">Name <span class="error">*</span></label>
          <div *ngIf="
                                  registrationForm.get('fullName')?.invalid &&
                                  registrationForm.get('fullName')?.touched
                                " class="error">
            Kindly enter your name
          </div>
        </div>
        <!-- <div class="form-floating mb-3 ms-3">
                <input type="text" class="form-control" id="surName" placeholder="Second Name"
                    formControlName="secondName" />
                <label for="floatingInput">Second Name</label>
            </div> -->

        <!-- Floating Label Style for Radio Buttons (Gender) -->
        <div class="form-floating mb-3">
          <div class="form-control pt-4" style="height: auto;">
            <div class="form-check form-check-inline me-3">
              <input class="form-check-input" type="radio" id="genderMale" value="Male" formControlName="gender"
                name="gender" />
              <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="genderFemale" value="Female" formControlName="gender"
                name="gender" />
              <label class="form-check-label" for="genderFemale">Female</label>
            </div>
          </div>
          <label for="genderMale">Gender <span class="error">*</span></label>
          <div *ngIf="
      registrationForm.get('gender')?.invalid &&
      registrationForm.get('gender')?.touched
    " class="error">
            Please select your gender.
          </div>
        </div>
        <!-- <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
<label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
</div> -->
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="phoneNumber" placeholder="Mobile Number"
            formControlName="mobileNumber" />
          <label for="floatingPassword">Phone Number <span class="error">*</span></label>
          <div *ngIf="
              registrationForm.get('mobileNumber')?.invalid &&
              registrationForm.get('mobileNumber')?.touched
            " class="error">
            Phone Number is Invalid
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="yourname@google.com"
            formControlName="mailID" />
          <label for="floatingInput">Email address <span class="error">*</span></label>
          <div *ngIf="
              registrationForm.get('mailID')?.invalid &&
              registrationForm.get('mailID')?.touched
            " class="error">
            Please enter a valid email.
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phoneNumber" placeholder="Mobile Number"
            formControlName="highestDegree" />
          <label for="floatingPassword">Highest Degree <span class="error">*</span></label>
          <div *ngIf="
                                  registrationForm.get('highestDegree')?.invalid &&
                                  registrationForm.get('highestDegree')?.touched
                                " class="error">
            Kindly enter your Highest Degree
          </div>
        </div>
        <div class="form-floating mb-3 ">
          <input type="text" class="form-control" id="firstName" placeholder="First Name"
            formControlName="collegeName" />
          <label for="floatingInput">College Name <span class="error">*</span></label>
          <div *ngIf="
                     registrationForm.get('collegeName')?.invalid &&
                     registrationForm.get('collegeName')?.touched
                                " class="error">
            Kindly enter your College Name
          </div>
        </div>
        <!-- <div class="form-floating mb-3">
            <input type="text" class="form-control" id="comment" placeholder="First Name"
                formControlName="comment" />
            <label for="comment">Your Thoughts In Few Words
            </label>

        </div> -->
        <!-- <div class="form-check form-switch mb-3">
            <label class="form-check-label" for="switchCheckChecked">Subscribe NewsLetter via Email ?
            </label>
            <input class="form-check-input bg-success " type="checkbox" role="switch" id="switchCheckChecked"
                checked formControlName="subscribe" />
        </div> -->
      </div>

      <!-- Submit Button -->
      <div class="align-self-center mx-auto row">
        <button type="submit" [disabled]="registrationForm.invalid" class="btn btn-success col-6">
          Register
        </button>
        <a class="btn btn-warning col-6 flash" (click)="scrollTo('broucher')">Scroll Down To Get The Google Forms
          Link</a>
      </div>
    </form>
  </div>
  <div>
    <div class="image"><img src="assets/event/3.webp" alt=""></div>
    <div class="image"><img src="assets/event/4.webp" alt=""></div>
  </div>
</div>

<div class="broucherArea my-0 my-md-5" id="broucher">
  <div class="image-container" (click)="downloadBrochure()">
    <img src="/assets/event/LIT.webp" alt="Event" class="event-image" />
    <div class="hover-text flash">Click here to download the Brochure</div>
  </div>

  <div class="form-link qr-code text-center">
    <h2 class="text-warning text-decoration-underline">Google Form Link for Uploading your Files</h2>
    <h3 class="text-success"><a href="https://forms.gle/vMPbQFeVqNzJLUYi8" target="_blank"
        class="text-success text-decoration-none flash"> Click
        Me </a></h3>
    <h5 class="text-warning fw-bolder text-center text-decoration-underline">(or)</h5>
    <h3 class="text-success">Scan Me</h3>
    <img src="/assets/event/qr-code.webp" alt="">
  </div>

</div>