// Volunteer Banner
.volunteer-banner {
  background: url("../../../public/assets/register-banner.jpeg");
  height: 70vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 900px) {
    height: 40vh;
  }
}

.enrollment-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 6vh;
}
.space {
  line-height: 3vh;
  text-align: justify;
}
.why-enrollment {
  width: 30vw;
  border-radius: 20px;
}
.volunteer-enrollment {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 3vh;
  width: 30vw;
}

.error {
  color: red;
}
@media screen and (max-width: 800px) {
  .why-enrollment {
    width: 70vw;
    margin-bottom: 5vh;
  }
  .volunteer-enrollment {
    width: 60vw;
  }
}
