.work-banner {
  background: url("../../../public/assets/work/workbanner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  @media screen and (max-width: 900px) {
    height: 40vh;
  }
}

.image-style {
  margin-bottom: 5vh;
  width: 90vw;
  margin-left: 5vw;
  text-align: justify;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  padding: 3vh;
  img {
    height: 40vh;
    object-fit: cover;
  }
}
