<div class="work-banner"></div>

<div class="image-style bg-warning">
    <h2 class="text-center">SMILE</h2>
    <p>Project SMILE is an initiative designed to bring joy to orphaned children by engaging them in creative activities
        such as crafts and artwork. This event not only focuses on fostering smiles and positive experiences for the
        children, but also emphasizes addressing their essential survival needs. Through this initiative, we aim to
        create a moment of joy and emotional support, while ensuring that the children’s basic needs are met,
        contributing to their well-being and happiness..</p>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="card" style="width: 18rem;">
            <img src="assets/work/smile/smile1.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/smile/smile2.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/smile/smile3.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/smile/smile4.webp" class="card-img-top" alt="...">

        </div>
    </div>
</div>
<div class="image-style bg-secondary">
    <h2 class="text-center">ILAKKU</h2>
    <P>ILANGU NGO is committed to creating awareness within communities by actively involving college volunteer
        students. Through various topics and discussions focused on the needs of the community, these volunteers help
        facilitate meaningful conversations that educate and inspire action. By leveraging the energy and enthusiasm of
        the students, ILANGU NGO aims to address critical issues, promote understanding, and encourage community
        engagement, ultimately fostering a collaborative effort to meet the needs of vulnerable populations</P>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku1.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku2.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku3.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku4.webp" class="card-img-top" alt="...">

        </div>
    </div>
</div>
<div class="image-style bg-success text-white">
    <h2 class="text-center">IYANGU</h2>
    <P>ILANGU NGO organized an impactful Awareness Program for MSW students at Women’s Christian College (WCC), Chennai,
        aimed at enhancing their understanding of key social issues and the role they play in addressing them. The
        program focused on equipping students with valuable insights and skills for their future careers in social work.
        In recognition of their commitment and excellence, participants were awarded certificates to acknowledge their
        dedication and progress. This initiative not only reinforced their career paths but also inspired them to
        continue striving for positive social change in their professional journey.</P>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="card" style="width: 18rem;">
            <img src="assets/work/iyangu/iyangu1.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/iyangu/iyangu2.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/iyangu/iyangu3.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/work/iyangu/iyangu4.webp" class="card-img-top" alt="...">

        </div>
    </div>
</div>
<div class="image-style bg-info">
    <h2 class="text-center">ILAKKU</h2>
    <p>In the month of March, we take a moment to extend our heartfelt appreciation to all social workers for their
        unwavering dedication and tireless efforts throughout their journey. Their commitment to making a positive
        impact on the lives of individuals and communities is truly commendable. Social workers consistently demonstrate
        compassion, resilience, and a deep sense of responsibility in addressing the needs of vulnerable populations.
        ILANGU NGO recognizes and honors their invaluable contributions and the significant difference they make in
        creating a better, more inclusive society.</p>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku5.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku6.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku7.webp" class="card-img-top" alt="...">

        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/work/ilakku/ilakku8.webp" class="card-img-top" alt="Image not found">

        </div>
    </div>
</div>